body {
  background-color: #FFD1DC;
}

.sidebar {
  background-color: #FF69B4;
  color: white;
}

.sidebar a.active {
  color: #C71585;
}

.button-tambah {
  background-color: #FF1493;
  color: white;
}

.button-tambah:hover {
  background-color: #C71585;
}

.card {
  background-color: #FFB6C1;
  color: #4A4A4A;
}

.table-header {
  background-color: #FF69B4;
  color: white;
}

.button-hapus {
  background-color: #FF1493;
  color: white;
}

.button-hapus:hover {
  background-color: #C71585;
}
